body {
    background-color: #D0DEE1;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: normal;

}

html{
    scroll-behavior: smooth;
}
.logo{
    width: 30px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    margin-left: 11%;
    margin-right: 11%;
}
.navText {
    position: static;
    left: 24.83%;
    right: 24.83%;
    top: 40.48%;
    bottom: 40.48%;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 16px;
    /* identical to box height, or 67% */
    color: #FFFFFF;
    padding-left: 2%;
    padding-right: 2%;
    text-underline-offset: 8px;
}
#navTextb {
    margin-inline-end: auto;
}
#navButton {
    border: 2px solid #FFFFFF;
    backdrop-filter: blur(6px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 4px;
    background-color: #333;
}
button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: bottom;
    padding: 18px 25px;
    height: 52px;
    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 16px;
    /* identical to box height, or 67% */
    color: #FFFFFF;
}
@media only screen and (max-width: 600px) {
    button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: bottom;
        padding: 18px 25px;
        height: 52px;
        
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 16px;
        /* identical to box height, or 67% */
        color: #FFFFFF;
    }
}
.contactButton {
    background: transparent;
    border: 2px solid #FFFFFF;
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 4px;
}
.cvButton {
    background: transparent;
    border: 2px solid #FFFFFF;
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 4px;
}
@media only screen and (max-width: 860px) {
    .cvButton {
        border: 2px solid #FFFFFF;
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 4px;
        margin-left: auto;
        margin-right: auto;
    }
}
a{
    text-decoration: none;
    color: #333;
}
p{
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 16px;
    font-weight:normal;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #FA8942;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 45px;

}

h3{
    font-family: 'Montserrat', serif;
font-style: normal;
font-weight: normal;
font-size: 300%;
line-height: 82px;
}

h4{
    font-family: 'Montserrat', serif;
font-style: normal;
font-weight: normal;
font-size: 200%;
}

h5{
    font-family: 'Montserrat', serif;
font-style: normal;
font-weight: normal;
font-size: 150%;
}

h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #FA8942;
    font-size: 24px;
}
.awePageTitle {
    background-image:  url("../images/AWE\ Case\ Study\ Cover.png");
    background-position:bottom;
    background-size:cover;
    background-repeat: no-repeat;
    height: 800px;
}
.aweheading{
    color: rgb(255, 255, 255);
    padding-left: 290px !important;
    top: 300px;
    width: 700px;
}
@media only screen and (max-width: 600px) {
    .aweheading{
        color: rgb(255, 255, 255);
        padding-left: 60px !important;
        top: 300px;
        width: 70%;
    }
}
#contentNav {
    font-weight: 600;
    background-color:rgb(245, 208, 204);

}

.overview, .designprocess, .research, .define, .lowfiwires, .styledev, .prototype1, .prototype2, .testing, .clickablePrototypes, .conclusion {
    margin: 0 auto;
    padding: 30px;
    border-radius: px;
    background-color: white;
  
}

.conclusion ul {
    list-style:circle;
}

.bestbits{
    padding:50px;
}
#fast_forward{
    padding-left: 20px;
    width: 48px;
    align-items: baseline;
}

.card{
    border: none;
    border-radius: 12px;
    margin: 0 auto;
   
}

.img-box {
    height: 180px;
    width: 100%;
}

.card-text{
    height: 210px;
}

.bestbtn {
    text-align: bottom;
}

.team {
    background-color: rgb(209, 230, 230);
    border-radius: 20px;
    padding:30px;
}

.casestudyimages{
    position: relative;
}
.badge {
    position: absolute;
    left: 500px;
    top: 2100px;
    

}

.casestudyheadings {
    font-size: 68px;
    font-weight: 100;
}

.casestudysubhead {
    font-size: 38px;
}

.designbreakdown {
    text-align: center;
}
.designprocess ul {
    padding: 0;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: bottom;
    padding: 18px 25px;
    height: 52px;
    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 16px;
    /* identical to box height, or 67% */
    color: #FFFFFF;
}
@media only screen and (max-width: 600px) {
    button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: bottom;
        padding: 18px 25px;
        height: 52px;
        
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 16px;
        /* identical to box height, or 67% */
        color: #FFFFFF;
    }
}
.contactButton {
    background: transparent;
    border: 2px solid #FFFFFF;
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 4px;
}
.cvButton {
    background: transparent;
    border: 2px solid #FFFFFF;
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 4px;
}
@media only screen and (max-width: 860px) {
    .cvButton {
        border: 2px solid #FFFFFF;
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 4px;
        margin-left: auto;
        margin-right: auto;
    }
}

.img-thumbnail {
    border: none;
}
/* FOOTER */

footer {
    background: #36383F;
    width: 100%;
    margin-top: 100px;
    background-color: #36383F;
}
@media only screen and (max-width: 500px) {
    footer {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
.fContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-left: 11.46%;
    margin-right: 11.46%;
}
@media only screen and (max-width: 600px) {
    .fContainer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
        align-content: center;
        align-items: stretch;
        margin-left: 0;
        margin-right: 0;
    }
}
.footerItems{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 1%;
}
.footerItem2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;;
    margin-right: auto;
}
@media only screen and (max-width: 600px) {
    .footerItem2{
        margin: 1%;
    }
}
#lnkdIn {
    margin-left: 1rem;
}
@media only screen and (max-width: 500px) {
    #lnkdIn {
        margin-left: 2%;
    }
}
.footerText {
    left: 24.83%;
    right: 24.83%;
    top: 40.48%;
    bottom: 40.48%;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    /* identical to box height, or 67% */
    color: #FFFFFF;
}
#footerTexta {
    color: #FA8942;
}
#footerTextb {
    margin-left: 30px;
    margin-right: auto;
}
/* MEDIA QUERY 1000px */

@media only screen and (min-width: 701px) and (max-width: 1100px){

    h2 {
        font-size: 40px;
    }
    
    h3 {
        font-size: 36px;
        line-height: 40px;
    }    
    .casestudyGridArea {
        display: flex;
        align-items: center;
        
    }
    
    #casestudy1, #casestudy2, #casestudy3, #casestudy4 {
        padding: 10px;
        margin-right: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    #casestudyimages {
        border-radius: 3%;
        max-height: 300px;
        
    }


@media only screen and (max-width: 700px){
    
    /* MEDIA QUERY 600px - NAVIGATION */
    
    .nav {
        display: flex;
        flex-direction: row;
        margin: 0px 5%;
        padding: 20px;
        align-items: baseline;
        height: 150px;

        
    }

    .logo{
        float: left;
        margin-left: 0;
        font-size: 10px !important;
    }
    
    .right{
        float: right;
        font-size: small;
        font-weight: bolder;
        text-align: center;
        padding: 40px;
    }
    .navitem {
        padding-right: 10px;
        padding-left: 10px;
    
    }

    /* MEDIA QUERY HEADER AND HERO BANNER 600px */
    header {
        height: 700px;
    }
    .herobannerGrid {
        display: grid;
        max-width: 700px;
        justify-content: center;
        grid-template-columns: 60% 40%;
        grid-template-rows: 600px;
        grid-template-areas: "intro photo";
        margin: 0 auto;
       
    
    }
    
    #intro {
        grid-area: intro;
        font-size: 12px !important;
        margin-left: 20px;
        
    }

    #photo {
        grid-area: photo;
        width: 200px;
        padding-left: 100px;
    }
/* MEDIA QUERY TYPOGRAPHY 600px */

    h1{
        font-size: 28px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 28px;
        line-height: 40px;
    }

    p {
        font-size: 16px;
    }

    a {
        font-size: 16px;
    }

    .casestudyheadings {
        font-size: 28px;
        line-height: 40px;
    }
    
    /* MEDIA QUERY CASE STUDIES 600px */

   

    .casestudyGrid {
        grid-template-columns: 1fr;
        grid-template-rows: 400px 300px 400px 300px 400px 300px 400px 300px;
        grid-row-gap: 10px;
        grid-template-areas: 
        "casestudy1"
        "casestudy1text" 
        "casestudy2" 
        "casestudy2text"
        "casestudy3" 
        "casestudy3text"
        "casestudy4" 
        "casestudy4text";}

        #casestudy1, #casestudy2, #casestudy3, #casestudy4, #casestudyimages {
            padding: 0px;
            margin: 0 auto;
            max-height: 375px;
            
        
        }

        #casestudyimages {
            border-radius: 7%;}

            #casestudyimages:hover {
                opacity: 0.9;
                border-radius: 7%;
            }

        #casestudy1text, #casestudy2text, #casestudy3text, #casestudy4text {
            padding: 40px;
            margin-right: 30px;
            margin-left: 30px;
            max-height: 400px;
        
        }
    }

        /* MEDIA QUERY CASE STUDY PAGE 600px */

 .awePageHeader {
        background-image:  url("../images/AWE\ Clickable.png");
        background-position:top;
        background-size:contain;
        background-repeat: no-repeat;
        height: 700px;
    }

    .footerGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap:50px;
        grid-template-areas: "links" "message" "findmeonline";
        background-color: #ffffff;
        padding:50px 0;
        margin-top: 100px;
        max-width: 700px !important;
       
        list-style: none;
        text-align: center;
    }

        .links {
            grid-area: links;
        }

        .findmeonline {
            grid-area: findmeonline;
        }

        .message {
            grid-area: message;
        }

        ul {
            list-style: none;
            padding: 0;
        }
}


    /* MEDIA QUERY 500px */

@media only screen and (max-width: 600px){
    

    
    .nav {
        display: flex;
        flex-direction: row;
        margin: 0px 5%;
        padding: 0px;
        align-items: baseline;
        height: 150px;

        
    }
    
    .logo{
        float: left;
        margin-left: 0;
        font-size: 10px !important;
    }
    
    .right{
        float: right;
        font-size: small;
        font-weight: bolder;
        text-align: center;
        padding: 0px;
    }
    .navitem {
        padding-right: 0px;
        padding-left: 10px;
    
    }

    /* MEDIA QUERY HEADER AND HERO BANNER 500px */

    header {
        height: 500px;
    }

    .aboutPageHeader {
        height: 200px;
        position:fixed;
        z-index: 1000001;
    }
    .herobannerGrid {
        display: grid;
        max-width: 600px;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "intro" "photo";
        margin: 0 auto;
       
    
    }
    
    #intro {
        grid-area: intro;
        font-size: 12px !important;
        margin-left: 20px;
        
    }

    #photo {
        grid-area: photo;
        width: 150px;
        padding-left: 10px;
        position: bottom;
        display: none;
    }
/* MEDIA QUERY TYPOGRAPHY 500px */

    h1{
        font-size: 28px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 24x;
        line-height: 40px;
    }

    p {
        font-size: 16px;
    }

    a {
        font-size: 16px;
    }

    .casestudyGrid {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px;
        grid-template-areas: 
        "casestudy1"
        "casestudy1text" 
        "casestudy2" 
        "casestudy2text"
        "casestudy3" 
        "casestudy3text"
        "casestudy4" 
        "casestudy4text";}

        #casestudy1, #casestudy2, #casestudy3, #casestudy4, #casestudyimages {
            padding: 10px;
            max-height: 400px;
            padding: 0;
            margin: 0 auto;
        
        }

        #casestudyimages {
            border-radius: 7%;
            max-height: 225px;
            display: flex;
            align-items: center;
            
        }

            #casestudyimages:hover {
                opacity: 0.9;
                border-radius: 7%;
            }

        #casestudy1text, #casestudy2text, #casestudy3text, #casestudy4text {
            padding: 10px;
            max-height: 400px;
        
        }
       
        .awePageHeader {
            background-image:  url("../images/AWE\ Clickable.png");
            background-position:top;
            background-size:contain;
            background-repeat: no-repeat;
            height: 400px;
        }

        /* MEDIA QUERY FOOTER 500px */

    .footerGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "links" "message" "findmeonline";
        background-color: #ffffff;
        padding:50px 0;
        margin-top: 100px;
        max-width: 500px !important;
        max-height: 350px;
        align-items: center;
        list-style: none;
        text-align: center;
    }

    /* MEDIA QUERY 700 - 1100px */

    @media only screen and (min-width: 700px) and (max-width: 1000px){

        header {
            height: 800px;
        }

        h2 {
            font-size: 30px;
        }

        h3 {
            font-size: 30px;
        }
    }
}