html, body {
    height: 100%;
    margin: 0;
    background: #F3F6FA;
}
.backgroundImage {
    background-image: url('https://github.com/LPetrosino/My_First_Repo/blob/main/images/backgroundImage.png?raw=true');
    background-size: 100%;
    height: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}
@media only screen and (max-width: 600px) {
    .backgroundImage {
        background-image: url('https://github.com/LPetrosino/Portfolio-HW18/blob/main/images/backgroundphone.png?raw=true');
        background-size: 100%;
        height: 100%;
        background-repeat: no-repeat;
    }
}
#caseStudy {
    color: white;
}
#caseStudy:hover {
    color: #40507C;
}
.logo{
    width: 30px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 88px;
}
.navText {
    position: static;
    left: 24.83%;
    right: 24.83%;
    top: 40.48%;
    bottom: 40.48%;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 16px;
    /* identical to box height, or 67% */
    color: #FFFFFF;
    padding-left: 2%;
    padding-right: 2%;
    text-underline-offset: 8px;
}
#navTextb {
    margin-inline-end: auto;
    color: #FA8942;
}
#navButton {
    background: rgba(47, 52, 83, 0.3);
    border: 2px solid #FFFFFF;
    backdrop-filter: blur(6px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 4px;
}
.content {
    top: 0%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
@media only screen and (max-width: 600px) {
    .content {
        width: 90%;
    }
}
.heroText{
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 100%;
    margin-top: 18%;
    margin-bottom: auto;
}
@media only screen and (max-width: 1200px) {
    .heroText{
        margin-top: 12%;
    }
}
@media only screen and (max-width: 900px) {
    .heroText{
        margin-top: 6%;
    }
}
@media only screen and (max-width: 600px) {
    .heroText{
        margin-top: 30%;
    }
}
.projectscta {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -6%;
    margin-bottom: 1%;
    color: #FFFFFF;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 33.99px;
    line-height: 65px;
    position: relative;
    z-index: 1;
    order: 3;
}
@media only screen and (max-width: 1024px) {
    .projectscta {
        margin-top: -8%;
    }
}
@media only screen and (max-width: 900px) {
    .projectscta {
        margin-top: -11%;
    }
}
@media only screen and (max-width: 600px) {
    .projectscta {
        margin-top: -22%;
    }
}
.projectscta img {
    margin-left: 2%;
    height: 3.5rem;
}
@media only screen and (max-width: 600px) {
    .aboutcta img {
        height: 3rem;
    }
}
.footerText {
    left: 24.83%;
    right: 24.83%;
    top: 40.48%;
    bottom: 40.48%;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    /* identical to box height, or 67% */
    color: #FFFFFF;
    text-underline-offset: 8px;
}
#footerTextb {
    margin-left: 30px;
    margin-right: auto;
    color: #FA8942;
}
.H1 {
    left: 0%;
    right: 40.81%;
    top: 0%;
    bottom: 30.16%;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 110px;
    /* or 115% */

    display: flex;
    align-items: center;

    color: #FFFFFF;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 15px 0px;
}
@media only screen and (max-width: 1200px) {
    .H1 {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 60px;
        line-height: 90px;
    }
}
@media only screen and (max-width: 900px) {
    .H1 {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 70px;
    }
}
@media only screen and (max-width: 600px) {
    .H1 {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 50px;
        line-height: 60px;
    }
}
.line {
    position: static;
    width: 100%;
    height: 0px;
    left: 0px;
    top: 235px;
    
    border: 1px solid #FFFFFF;
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 15px 0px;
}
.line2, .line3 {
    width: 86%;
    height: 1.5px;
    background: #D8DEE4;
    margin-left: 7%;
    margin-right: 7%;
}
#blurb {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: static;
    margin-right: 8%;
    padding-left: 4%;
}
@media only screen and (max-width: 600px) {
    #blurb {
        margin-left: 5%;
        margin-right: 5%;
        align-items: center;
        justify-content: center;
        padding-left: 0%;
    }
}
.myPhoto {
    border-radius: 50%;
    position: static;
    width: 325px;
    height: 325px;
    left: 50px;
    top: 24px;

    
    border: 1px solid rgba(13, 50, 89, 0.16);
    box-sizing: border-box;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 8%;
}
@media only screen and (max-width: 600px) {
    .myPhoto {
        margin-left: 0%;
        width: 290px;
        height: 290px;
        
    }
}
.subH {
    width: 100%;
    height: 65px;
    left: 0px;
    top: 250px;
    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 33.99px;
    line-height: 65px;
    /* identical to box height, or 191% */
    
    align-items: center;
    text-indent: 6px;
    
    color: #FFFFFF;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 15px 0px;
}
@media only screen and (max-width: 1200px) {
    .subH {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 40.5px;
    }
}
@media only screen and (max-width: 900px) {
    .subH {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 38.5px;
    }
}
#projectSection {
    width: 100%;
    padding-bottom: 69px;
    margin-bottom: 8%;
    height: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);;

    background: rgba(255, 255, 255, 0.88);
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 1;
    /* Note: backdrop-filter has minimal browser support */
}
.sectionTitles {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    margin-bottom: 4%;
    color: #173256;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 33.99px;
    line-height: 65px;
    order: 3;
}
@media only screen and (max-width: 600px) {
    .sectionTitles {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4%;
        color: #173256;
    
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 40px;
        margin-left: 10%;
    }
}
#projects {
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}
#aboutMe {
    margin-top: 75px;
    margin-bottom: 75px;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;   
}
@media only screen and (max-width: 600px) {
    #aboutMe {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.mockup {
    display: flex;
    margin-left: 7%;
    margin-right: 7%;
}
@media only screen and (max-width: 600px) {
    .mockup {
        display: flex;
        flex-direction: column;
        margin: 4%;
    }
}
@media only screen and (max-width: 600px) {
    .mockup img {
        width: auto;
        order: 1;
    }
}
.mockupText {
    display: flex;
    flex-direction: column;
    order: 2;
}
.mockupButton {
    background: #40507C;
    border: 2px solid white;
    backdrop-filter: blur(6px);
    border-radius: 4px;
    margin-left: auto;
    color: white;
}
@media only screen and (max-width: 600px) {
    .mockupButton {
        margin-left: auto;
        margin-right: auto;
    }
}
h3, p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-left: 2%;
}
h4 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #173256;
    text-align: end; 
}
@media only screen and (max-width: 600px) {
    h4 {
        text-align: left; 
    }
}
footer {
    background: #60748E;
    width: 100%;
}
@media only screen and (max-width: 500px) {
    footer {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
.fContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-left: 11.46%;
    margin-right: 11.46%;
}
@media only screen and (max-width: 600px) {
    .fContainer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
        align-content: center;
        align-items: stretch;
        margin-left: 0;
        margin-right: 0;
    }
}
.footerItems{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 1%;
}
.footerItem2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;;
    margin-right: auto;
}
@media only screen and (max-width: 600px) {
    .footerItem2{
        margin: 1%;
    }
}
#lnkdIn {
    margin-left: 1rem;
}
@media only screen and (max-width: 500px) {
    #lnkdIn {
        margin-left: 2%;
    }
}
button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: bottom;
    padding: 18px 25px;
    height: 52px;
    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 16px;
    /* identical to box height, or 67% */
    color: #FFFFFF;
}
.contactButton {
    background: transparent;
    border: 2px solid #FFFFFF;
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 4px;
}
.cvButton {
    background: transparent;
    border: 2px solid #FFFFFF;
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 4px;
}
@media only screen and (max-width: 860px) {
    .cvButton {
        border: 2px solid #FFFFFF;
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 4px;
        margin-left: auto;
        margin-right: auto;
    }
}
.cntr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 223px;
    height: 49px;
    left: calc(50% - 223px/2 + 0.5px);
    top: 880px;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-left: 8%;
    margin-right: 8%;
    position: relative;
}
.card1image{
    width: 100%;
    height: 100%;
}
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

  /* Add some padding inside the card container */
.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0,0);
}
.container:hover {
    opacity: 1;
    background: rgba(203, 209, 218, 0.2);
    backdrop-filter: blur(4px);
    transition: .5s ease;
}